html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

/* Estilo base (mobile first) */
header {
  background-image: url(foto1.jfif);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 40rem; /* menor altura para celulares */
}

header h1 {
  margin: 0;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 2rem;
  padding: 15rem 2rem;
  font-family: 'Times New Roman', Times, serif;
}

main {
  text-align: center;
  margin: 2rem 1rem;
}

.secao-imagens {
  padding: 0 1rem;
}

.secao-imagens-carrosel {
  overflow-x: auto;
  white-space: nowrap;
  margin: 0 auto 20px;
}

.secao-imagens-carrosel img {
  width: 100%; /* ocupa a largura do container */
  max-width: 320px; /* limita o tamanho */
  height: auto; /* mantém proporção */
  margin: 10px;
}

.poema {
  padding: 0 2rem;
  font-family: cursive;
  font-size: 10px;
}

footer {
font-size: 10px;
  width: 100%;
  background: black;
  height: auto;
  color: #f5f5f5;
  text-align: center;
  padding: 1rem 0;
}

/* Ajustes para telas médias (tablets) */
@media (min-width: 600px) {
  header {
    height: 60rem;
  }
  header h1 {
    font-size: 2.5rem;
    padding: 20rem 2rem;
  }
}

/* Ajustes para telas grandes (desktop) */
@media (min-width: 830px) {
  header {
    height: 80rem;
  }
  header h1 {
    font-size: 3rem;
    padding: 35rem 2rem;
  }
  .poema {
    padding: 0 8rem;
  }
  .secao-imagens-carrosel img {
    max-width: 320px;
    margin: 25px 20px;
  }
}